body
{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: marigny, sans-serif;
}

#app
{
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/85970590948808133/13DFC20E720ECDD33BF6344DADB4B24DB51F022E/?imw=1024&imh=640&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app[v-cloak]
{
    display: none;
}

h1
{
    font-size: 75px;
    font-weight: 400;
    height: 35%;
    margin: 0;
    display: flex;
    align-items: center;
}